# Environment
PROJECT_ENV=local

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_RAW_TOPIC=iot_raw_logs
KAFKA_PROCESSED_TOPIC=iot_processed_logs
KAFKA_INVALID_TOPIC=iot_invalid_logs
KAFKA_ALERTS_TOPIC=iot_pipeline_alerts

# Local paths
LOCAL_RAW_DATA_PATH=./data/raw
LOCAL_PROCESSED_DATA_PATH=./data/processed
LOCAL_SAMPLE_DATA_PATH=./data/samples
PRODUCER_INPUT_FILE=/app/data/samples/sample_iot_logs.csv
PRODUCER_SEND_DELAY_MS=250

# Local analytical storage
DUCKDB_PATH=./data/processed/iot_logs.duckdb

# AWS
AWS_REGION=us-east-1
AWS_PROFILE=default
AWS_S3_BRONZE_BUCKET=
AWS_S3_SILVER_BUCKET=
AWS_S3_GOLD_BUCKET=
